.bag-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 8px 8px 8px;
  gap: 10px;
  position: fixed;
  width: 345px;
  height: 99%;
  right: 20px;
  top: 0;
  z-index: 1000;
  /* background-color: pink; */
}

/* .bag-area::after {
  content: "";
  position: absolute;
  top: 5%;
  height: 84%;
  width: 5px;
  background-color: #1A1F1680;
  left: -1px;
  border-radius: 10px; 
} */

.title h3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 8px;
  gap: 10px;
  font-size: 29.06px;
  color: #1a1f16;
}

.bag-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  gap: 16px;
  /* background-color: red; */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 274px;
  height: 80px;
  margin-bottom: 16px;
  /* background-color: yellow; */
}

.bag-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 16px;
  /* width: 80px; */
  height: 80px;
  background:  white;
  border-radius: 12px;
  overflow: hidden;
}

.bag-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.button {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  height: 30px;
  width: 119px;
  background: #1a1f16;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.button img {
  margin-right: 8px;
}

.button span {
  color: white;
  margin-left: 8px;
  margin-top: -5px;
}

.icon {
  width: 24px;
  height: 24px;
}

.total-price{
font-weight: bold;
}
